*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
    position: relative;
    overflow: hidden;
    
  }
  
  .page-separator {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, transparent, #FFD700, transparent);
     animation: wave 2s infinite ease-in-out; 
  }
  
  @keyframes wave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  